@use "../../style" as s;

.data-block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: s.space(3);
    padding: s.space(4);
    gap: s.space(4);
    

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        display: flex;
        flex-direction: column;
    }

    &__card:not(:last-of-type) {
        border-bottom: 1px solid s.color(border);
        padding-bottom: s.space(4);
    }
}

.receive::after {
    content: "+";
  }
  
  .send::after {
    content: "-";
  }

  .back {
    background-color: #F7F7F7;
    border-radius: s.space(8);
    padding: s.space(12) s.space(5) s.space(10) s.space(5);
    display: flex;
    flex-direction: column;
    gap: s.space(5);
}