@use "../../style" as s;

.page {
	max-width: 393px;
	width: 100%;  
}

:root {
	background-color: #1E1E1E;
	
}

html {
	min-height: 100%;
	padding: 64px 0;
	// display: grid;
	
	
}

body {
	max-width: 393px;
	width: 100%;
	margin: auto;
	height: 100%;

	background-color: #fff;
  	border-radius: s.space(8);
}

.grayPage {
	background-color: #f7f7f7;
	border-radius: s.space(8);
}