@use "../../style" as s;

.card {
  display: flex;
  justify-content: space-between;
  border-radius: s.space(4);
  margin: s.space(5) 0;
  background-color: #fff;

  &__pointer {
    cursor: pointer;
  }

  &__padding {
    padding: s.space(4);
    margin: s.space(2) 0;
  }
  
  &__content {
      display: flex;
      gap: 8px;
  }

  &__logo {
      height: 18px;
      width: 18px;
      background-size: cover;
      position: absolute;
      top: calc(50% - 9px);
      right: calc(50% - 9px);
  }

  &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: s.space(1);

      &--name {
          font-size: 16px;
          color: s.color(text);
          font-weight: 500;
      }

      &--content {
          display: flex;
          gap: s.space(1);
          font-size: 14px;
          color: s.color(description);
      }

      &--point {
          display: flex;
          gap: s.space(1);
          align-items: center;
          
      }

      &--type {
        text-transform: capitalize;
      }

      &--point:not(:last-child)::after {
          content: "";
          display: block;
          height: 3px;
          width: 3px;
          border-radius: 3px;
          background-color: s.color(description);
      }       
  }

  &__sum {
      font-size: 16px;
      color: s.color(green);
      display: none;
      align-items: center;

      &--sending{
      color: s.color(text);
      }
  }

  &__payment {
      display: none;
      gap: s.space(2);

      &--group {
        display: flex;
      gap: s.space(2);
      }

      &--group-rev {
        flex-direction: row-reverse;
      }
  }
}

.button-operations__background--logo {
  height: 48px;
  width: 48px;
  background-color: #F7F7F7;
  border-radius: 24px;
  position: relative;
}

.none {
  display: none;
}

.show {
    display: flex;
}

.receipt::after {
  content: "+";
}

.sending::after {
  content: "-";
}

.choice {
  border: 1px solid s.color(green);
}